{% extends "facebook/base.html" %}
{% load facebook_tags %}
{% block userstats %}{% endblock userstats %}

{% block content %}
<h1>Tervetuloa Kasvokertoimeen, {% show_facebook_first_name user %}!</h1>

<p>Olet täällä näköjään ensimmäistä kertaa. Hyväksy aluksi Kasvokertoimen käyttöehdot.</p>
	
<form action="" method="post" accept-charset="utf-8" class="nice-form">{% csrf_token %}
  {% if next %}
  <input type="hidden" name="next" value="{{ next }}" id="next">        
  {% endif %}
  <p><input type="submit" value=" Ok, hyväksyn ehdot "></p>
</form>
{% endblock %}