{% extends "facebook/base.html" %}
{% load facebook_tags %}
{% block userstats %}{% endblock userstats %}

{% block content %}
<h1>Tervetuloa Kasvokertoimeen, {{ request.user.facebook_profile.first_name }}!</h1>

<p>Melkein valmista! Luo vielä itsellesi tunnus.</p>
	
  <form action="" method="post" accept-charset="utf-8" class="nice-form">{% csrf_token %}
	
	{{ form.as_p }}
	
    <p><input type="submit" value=" Ok, valmis! "></p>
  </form>
{% endblock %}