<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$(".logs span").click(function() {
		if($("table.logs:hidden").length == 1){
			$(".logs table").show("slow");
			$(".logs span").text("Piilota logit").toggleClass("showlogs").toggleClass("hidelogs");
		} else {
			$(".logs table").hide("fast");		
			$(".logs span").text("Näytä logit").toggleClass("showlogs").toggleClass("hidelogs");
		}
	});
});	
</script>
{% if entries %}
<div class="logs">
	<table class="logs" style="display: none;">
		{% for entry in entries %}
		<tr>
			<td class="logtimestamp {% cycle "odd" "even" %}">{{ entry.timestamp|date:"d.m.Y H:i" }}</td>
			<td class="loguser {% cycle "odd" "even" %}">{{ entry.user|capfirst }}</td>
			<td class="logmessage {% cycle "odd" "even" %}">{{ entry.message }}</td>
		</tr>
		{% endfor %}
		<tr>
			<td colspan="3"><a href="/hallinta/common/logentry/">Django-hallintaan &raquo;</a></td>
		</tr>
	</table>	
	<span class="showlogs">Näytä logit</span>
</div>
{% endif %}