<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
{% load facebook_tags %}
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<title>Kasvokerroin DEMO</title>
	{% facebook_js %}
	{% initialize_facebook_connect %}
	<style type="text/css" media="screen">
		/* FROM: http://devtacular.com/articles/bkonrad/how-to-style-an-application-like-facebook/ */

		/* Default Facebook CSS */
        .fbbody
        {
            font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;
            font-size: 11px;
            color: #333333;
        }
        /* Default Anchor Style */
        .fbbody a
        {
            color: #3b5998;
            outline-style: none;
            text-decoration: none;
            font-size: 11px;
            font-weight: bold;
        }
        .fbbody a:hover
        {
            text-decoration: underline;
        }
        /* Facebook Box Styles */
        .fbgreybox
        {
            background-color: #f7f7f7;
            border: 1px solid #cccccc;
            color: #333333;
            padding: 10px;
            font-size: 13px;
            font-weight: bold;
        }
        .fbbluebox
        {
            background-color: #eceff6;
            border: 1px solid #d4dae8;
            color: #333333;
            padding: 10px;
            font-size: 13px;
            font-weight: bold;
        }
        .fbinfobox
        {
            background-color: #fff9d7;
            border: 1px solid #e2c822;
            color: #333333;
            padding: 10px;
            font-size: 13px;
            font-weight: bold;
        }
        .fberrorbox
        {
            background-color: #ffebe8;
            border: 1px solid #dd3c10;
            color: #333333;
            padding: 10px;
            font-size: 13px;
            font-weight: bold;
        }
        /* Content Divider on White Background */
        .fbcontentdivider
        {
            margin-top: 15px;
            margin-bottom: 15px;
            width: 520px;
            height: 1px;
            background-color: #d8dfea;
        }
        /* Facebook Tab Style */
        .fbtab
        {
            padding: 8px;
            background-color: #d8dfea;
            color: #3b5998;
            font-weight: bold;
            float: left;
            margin-right: 4px;
            text-decoration: none;
        }
        .fbtab:hover
        {
            background-color: #3b5998;
            color: #ffffff;
            cursor: hand;
        }
        
	</style>
</head>

<body class="fbbody">
<h1>Kasvokerroin</h1>
{% block userstats %}
<div id='user'>
{% if user.is_authenticated %}
    <table border='0'>
    <tr>
        <td>
            User: {{ user }}<br>
			Tervetuloa Kasvokertoimeen {% show_facebook_first_name user %}<br />
            {% show_facebook_photo user %}
        </td>
    </tr>
    </table>
{% else %}
Et ole kirjautunut. <a href="/facebook/login/">Kirjaudu</a>.
{% endif %}
</div>
	
{% endblock userstats %}

{% block content %}{% endblock %}
</body>
</html>